#verticalnav {
  border-top: 1px solid #e0e0eb;
  border-bottom: 1px solid #e0e0eb;
  padding: 1em;
}
.navbar_child {
  font-family: sans-serif;
  padding: 1em;
  font-size: .8em;
  display: inline;

}

.navbar_child>a:link {
  text-decoration: none;
  color: grey;
}

.navbar_child>a:visited {
  text-decoration: none;
  color: grey;
}

.navbar_child>a:hover {
  color: black;
}

.navbar_child>a:active {
  color: blue;
}

.navbar_child>a>b {
  color: green;

}
