//bootstrap stuff
$breakpoint-tablet:768px;
$display-1:6rem;
$display-2:5.5rem;
$display-3:4.5rem;
$display-4:3.5rem;
$h1:2.5rem;
$h2:2rem;

//themed colors
$red:#ED254E;
$yellow:#F9DC5C;
$green:#1B998B;
$blue:#0496FF;
$orange:#FFC857;
$black:#0A1128;
$purple:#731963;

body{
	background-color:#e9ecef;	
}
.non-header{
	border-top:1rem solid $green;
	border-bottom:1rem solid $blue;
	background-color:white;
	h1{
		border-top:1rem solid $black;
		color:white;
		background-color:$red;	
		padding:2rem;
		margin-bottom:2rem;
	}
}

#lang .col-md-3{
	padding:1em;
	background-color: $yellow;
	border-radius:2rem;
	border:1rem solid white;
}

#footer{
	background-color:$black;
	border-top:1rem solid $purple;
	color:white;
	padding:1rem;
	p{
		margin-bottom:0;	
	}
	a{
		color:$yellow;	
	}
}

//applies to mobile ONLY
@media(max-width:$breakpoint-tablet){
	#top-header{
		.col-md-4{
			padding:1rem;	
			:hover{
				color:$yellow;	
			}
		}
		.display-1{
			font-size:$display-3;	
		}
		p{
			display:none;	
		}
		background-color:$black;
		color:white;
		a{
			color:white;	
		}
		border-bottom:solid $purple 1rem;
	}
	.non-header{
		h1{
			font-size:$h1;	
		}	
		h2{
			font-size:$h2;	
		}
	}
	#projects .col-md-4{
		margin-top:1.5rem;
		margin-bottom:1.5rem;
	}
}

//applies to max size ONLY
@media(min-width:$breakpoint-tablet){
	#top-header{
		height:100vh;
		background-image:url('gensokyo.jpg');
		background-attachment:fixed;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		color:white;

		a{
			color:white;
		}
		a:hover{
			color:$blue;
			text-decoration:none;
		}
	}

	#top-header .container{
		background: radial-gradient(rgba(0, 0, 0,0.5),rgba(255,0,0,0));
		padding:1em;
	}

	

}

