/*top page stuff*/
.header{
  /*fix prblm here*/
  background-color: rgba(0,0,0,.9) !important;
  height: 25vh !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.subheader{
  /*fix prblm here*/
  background-color: rgba(0,0,0,.9) !important;
  height: 25vh !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  text-align: center !important;
  margin-top: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white;
  font-family: 'Raleway' !important;

}

.heading{
  margin: 0 auto;
  width: 50%;
  text-align: center;
}
#top{
  height: 100vh !important;
  background: linear-gradient(to bottom right, #EE352E, #FF6319, #996633);
}

#caption{
  color: white;
  background: rgba(0,0,0,0);
  font-family: "Raleway";
  white-space: no-wrap;
}
#favic a:link{
  color: white;
}

#favic a:visited{
  color: white;
}
#favic a:hover{
  color: #B933AD;
}

/*body stuff*/
.container{
  padding-top: 1em;
  font-family: "Lato";
}

.container h2{
  font-weight: 400;
}
.container h3{
  font-weight: 300;
}



.emphasize{
  color: white;
  padding: 1em;
  display: inline-block;
  font-family: "Oswald" !important;
}

.emphasize-parent{
  text-align: center;
}

.stars{
  background-color: #A7A9AC;
  border-radius: 5px 5px 5px 5px;
  display: inline-block;
  padding: 1em;
}

.stars h1{
  margin: 0;
}
.filled:before{
  content: "\2605";
  position: absolute;
  color: #FCCC0A;
}

.unfilled:before{
  content: "\2605";
  position: absolute;
  color: white;
}
