.header{
  /*fix prblm here*/
  background-color: rgba(0,0,0,.9) !important;
  height: 25vh !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

#top{
  height: 100vh !important;
  background: linear-gradient(to bottom right, red, green);


}

.container{
  font-family: "Lato";
}
#top h1{
  font-size: 8em;
}
#top h2{
  font-size: 3em;
}
@keyframes slideIn{
  from{margin-left: 200em;}
  to{margin-left: 0em;}
}
#caption{
  color: white;
  padding-left: 3em;
  background: rgba(0,0,0,0);
  font-family: "Raleway";
  white-space: no-wrap;
}

#text{
  animation-name: slideIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


.subheader{
  /*fix prblm here*/
  background-color: rgba(0,0,0,.9) !important;
  height: 25vh !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  text-align: center !important;
  margin-top: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white;
  font-family: 'Raleway' !important;

}

.subheader h1{
  font-size: 3em;
}
#header1{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/cover1.png");

}

#header2{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/cover2.jpg");
}
