body{
  width: 100%;
  height: 100%;
}

.container{
  font-family: "Lato";
}

.header{
  /*fix prblm here*/
  background-color: rgba(0,0,0,.9) !important;
  height: 25vh !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /*
  text-align: center !important;
  margin-top: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  */
}

#top{
  height: 100vh !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/top.jpeg");

}


.subheader{
  /*fix prblm here*/
  background-color: rgba(0,0,0,.9) !important;
  height: 25vh !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;

  text-align: center !important;
  margin-top: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white;
  font-family: 'Raleway' !important;

}

.subheader > h1{
  font-size: 4em;
}
.subheader > h2{
  font-family: 'Raleway' !important;
}

#headtext::before{
  content: '';
  transform: skewX(-30deg);
  z-index: -1;
  display: inline-block;

}
#headtext{
  height: 100%;
  text-align: right;
  display: block;
  width: auto;
  background-color: white;
  padding-right: 1em;
  font-family: 'Raleway';
  border-radius: 0 0 25px 0;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}
/*
#top > .jumbotron{
  color: white;
  background-color: transparent;
  padding-left: 1em;
  padding-right: 1em;
}
*/
#headtext > h1{

  font-size: 5em;
  color: #0039A6;
}

#head1{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/cover1.jpg");
}

#head2{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/cover2.jpg");
}

#head3{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/cover3.jpg");
}
.times{
  font-family: "Times New Roman";
}

.indieFlower{
  font-family: "Indie Flower";
}
.spaceMono{
  font-family: "Space Mono";
}

.inner{
  width: 40%;
  text-align: right;
  padding: 1em;
  margin-top: 1em;
  color: white;
  font-family: "Raleway";
}
