.header{
  /*fix prblm here*/
  background-color: rgba(0,0,0,.9) !important;
  height: 25vh !important;
  background-attachment: fixed !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /*
  text-align: center !important;
  margin-top: 0 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  */
}

#top{
  height: 100vh !important;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/top.jpeg");
}

#headtext::before{
  content: '';
  transform: skewX(-30deg);
  z-index: -1;
  display: inline-block;

}
#headtext{
  height: 100vh;
  text-align: right;
  display: block;
  width: auto;
  background-color: white;
  padding-right: 1em;
  font-family: 'Raleway';
}
/*
#top > .jumbotron{
  color: white;
  background-color: transparent;
  padding-left: 1em;
  padding-right: 1em;
}
*/
#headtext > h1{

  font-size: 5em;
  color: #0039A6;
}
#head > h2{
  
}
